<!DOCTYPE html>
<html>

<head>
  <title>Gestão de Cadastro</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/index.css' />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous" />
</head>

<body>
  <header>
    <a href=""><img src="/images/wine-glass-solid.svg" alt="taça vinho"></a>
    <span>Vinhos Gama Academy</span>
  </header>
  <main>
    <h1>Gestão de Cliente e Produtos
    </h1>
    <div class="buttons">
      <button><a href="/clients">CADASTRAR CLIENTE</a></button><br>
      <button><a href="/products">CADASTRAR PRODUTO</a></button>
    </div>
    <p>Created by Flávio Sipoli</p>
  </main>
</body>

</html>