body {
    width: 960px;
    height: 750px;
}
main img {
    opacity: 0.2;
    position: absolute;
    top: 80px;
}
h1,
button,
a {
    position: relative;
    z-index: 2;
}
h1 {
    margin-top: 150px;
}

p {
    text-align: center;
    font-weight: bold;
    margin: 150px;
}

header {
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
}
header span {
    padding-left: 20px;
    padding-bottom: 5px;
    font-size: 40px;
    font-family: var(--font1);
    font-weight: bold;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}
.buttons a {
    text-decoration: none;
    color: var(--color2);
}
button {
    font-family: var(--font1);
    height: 50px;
    padding: 0 10px;
    font-size: 20px;
    margin: 10px;
    background-color: var(--color3);
    color: var(--color1);
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
